<strong><h2 class="title is-2">Upcomming Concerts</h2></strong>
<br>

<ul>
  <% @concert.each do |concert| %>
     <li><%= "#{concert.artist} at #{concert.venue}, #{concert.city}."%>
       <%= link_to("Details", concert_path(concert)) %>
    </li>
  <% end%>
</ul>

<br>
<%= link_to("Today concerts", concerts_path) %>
<br>
<%= link_to("Most commented concerts", concerts_top_commented_path) %>
