<!DOCTYPE html>
<html>
<head>
  <title>MusicConcert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-track' => true %>
  <%= javascript_include_tag 'application', 'data-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar" style="font-size: large;">
    <p class="navbar-item is-text-centered">
      <a class="link is-info" href="/">All Concerts</a>
    </p>
    <p class="navbar-item is-text-centered">
      <a class="link is-info" href="/concerts">Today Concerts</a>
    </p>
    <p class="navbar-item is-text-centered central_logo">
      <!-- Concerts Handler -->
      <img src="/header-concerts.jpg">
    </p>
    <p class="navbar-item is-text-centered">
      <a class="link is-info" href="/concerts/new">Create Concert</a>
    </p>
    <p class="navbar-item is-text-centered">
      <a class="link is-info" href="/concerts/search">Search Concert</a>
    </p>
  </nav>

  <div class="columns">

    <div class="column is-1"></div>

    <div class="column">
      <%= yield %>
    </div>

    <div class="column is-1"></div>

  </div>



  <footer class="footer">
    <div class="container">
      <div class="content is-centered">
        <p style="font-size: x-large;">
          <strong class="content is-centered">MusiKoncert Network</strong> by <a href="https://github.com/mfigand">Manuel Figueroa</a>.
          <br>
          This is a Concert Handler. It allows you Create, Update and Manage Concerts.
          <br>
          Check out my <strong> <a href="https://github.com/mfigand">Github</a> </strong>
          <br> and <strong> <a href="https://github.com/mfigand">Linkedin</a> </strong>.
        </p>
        <p>
          <a class="icon" href="https://github.com/jgthms/bulma">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>

 </body>
</html>
